* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  padding-top: 15px;
}

/* section intro */
#intro {
  background-color: rgba(16, 52, 166, 0.2);
  padding: 1px;
}

#intro h3,
#intro h6 {
  text-align: center;
}

#intro h6 {
  padding-bottom: 4%;
}

/* Première section */
.linearGradientFirstExample,
.radialGradientFirstExample {
  background-color: rgba(223, 242, 255);
}

.contenuLinearGradientFirstExample {
  padding-top: 2%;
}

#visualForLinearGradientFirstExample {
  background-image: linear-gradient(70deg, rgb(0, 204, 203) 40%, transparent 0%),
    url('../images/linearGradient1.jpg');
  padding: 3px;
}

.renderProperty {
  background-size: cover;
  height: 40vh;
  margin-bottom: 4%;
  display: flex;
  align-items: flex-end;
  border-radius: 4px;

}

.modifCssRules {
  background-color: #1e90ff;
  width: 30%;
  padding: 2%;
  font-size: 18px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.copyCode {
  display: flex;
  padding-left: 2%;
  align-items: center;
  width: 100%;
}

.copyCode input {
  color: #000;
}

.copyCode button {
  margin: 0 10px;
}

.cssProperties {
  width: 100%;
}

.cssProperties form {
  padding-bottom: 4%;
}

.cssProperties form span {
  color: #fff;
}

input {
  color: #fff;
}

label {
  color: #fff !important;
}

.textLinearGradientFirstExample {
  margin-top: 4%;
  padding-bottom: 2%;
  font-size: 18px;
  color: #000;
}

.arrows {
  color: #000;
  text-align: center;
}

.downArrow {
  color: #000;
}

.goToTop {
  position: fixed;
  top: 10px;
  right: 10px;
}

/* Deuxième section */
.linearGradientSecondExample,
.radialGradientSecondExample {
  background-color: rgba(33, 23, 125, 0.2);
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

#visualForLinearGradientSecondExample {
  background-image: linear-gradient(135deg,
      rgb(223, 115, 255) 55%,
      transparent 45%),
    linear-gradient(30deg, rgb(121, 248, 248) 100%, transparent 43%),
    linear-gradient(-45deg, rgb(96, 80, 220) 30%, transparent 30%),
    linear-gradient(45deg, rgb(253, 108, 158) 45%, transparent 45%),
    linear-gradient(30deg, rgb(121, 248, 248) 100%, transparent 43%);
  padding: 3px;

}

.linearGradientThirdExample,
.conicGradientFirstExample {
  background-color: rgba(38, 196, 236, 0.1);
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

#visualForLinearGradientThirdExample {
  background-image: linear-gradient(-45deg,
      rgb(248, 142, 85) 30%,
      transparent 65%),
    linear-gradient(45deg, rgb(253, 108, 158) 45%, transparent 78%),
    linear-gradient(135deg, rgb(223, 115, 255) 55%, transparent 81%),
    linear-gradient(30deg, rgb(121, 248, 248) 100%, transparent 43%);
  padding: 3px;

}

#visualForRadialGradientFirstExample {
  background-image: radial-gradient(circle at 50%,
      transparent 34%,
      rgba(223, 242, 255) 35%),
    radial-gradient(circle at 50%, rgba(96, 80, 220, 0.1) 34%, #1e90ff 34%),
    url('../images/profilePicture.jpg');
  background-position: 50% 75%;
  padding: 3px;

}

#visualForRadialGradientSecondExample {
  background-image: radial-gradient(circle at 50% 50%,
      transparent 30%,
      rgb(96, 80, 220) 82%),
    url('../images/radialGradient2.jpg');
  background-position: 50% 75%;
  padding: 3px;

}

#visualForConicGradientFirstExample {
  background-image: radial-gradient(circle at 50%,
      transparent 35%,
      rgba(169, 234, 254) 35%),
    conic-gradient(rgb(1, 49, 180) 65deg 124deg, rgb(10, 186, 181) 124deg 216deg, rgb(150, 131, 236) 200deg);
  padding: 3px;

}




@media screen and (min-width: 992px) {

  .renderProperty,
  .modifCssRules {
    height: 55vh;
  }
}

@media screen and (max-width: 540px) {
  .copyCode input {
    color: #000;
    flex: 4;
  }

  .copyCode button {
    flex: 1;
    margin: 0 5px;
  }
}