* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

section {
  width: 100%;
}

/* Première section */
.linearGradientFirstExample {
  background-color: rgba(96, 80, 220, 0.1);
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.contenuLinearGradientFirstExample {
  padding-top: 2%;
}

.visualAndModifCssRulesForLinearGradientFirstExample {}

.visualForLinearGradientFirstExample {
  background: linear-gradient(70deg, rgb(0, 204, 203) 40%, transparent 0%),
    /* rgb(116, 208, 241) */
    url("../images/linearGradient1.jpg");
  background-size: cover;
  height: 450px;
  margin-bottom: 4%;
}

.modifCssRules {
  background-color: #1e90ff;
  width: 30%;
  height: 450px;
  padding: 2%;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.cssProperties {
  width: 100%;
}

.cssProperties form {
  padding-bottom: 4%;
}

.cssProperties form span {
  color: #fff;
}


input {
  color: #fff;
}

.textLinearGradientFirstExample {
  margin-top: 4%;
  padding-bottom: 2%;
  font-size: 18px;
  color: #000;
}

/* Deuxième section */
.linearGradientSecondExample {
  background-color: rgba(33, 23, 125, 0.2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.visualForLinearGradientSecondExample {
  background: linear-gradient(-45deg, rgb(96, 80, 220) 30%, transparent 30%),
    linear-gradient(45deg, rgb(253, 108, 158) 45%, transparent 45%),
    linear-gradient(135deg, rgb(223, 115, 255) 55%, transparent 45%),
    linear-gradient(30deg, rgb(121, 248, 248) 100%, transparent 43%);
  background-size: cover;
  height: 450px;
  margin-bottom: 4%;
}

.linearGradientThirdExample {
  background-color: rgba(38, 196, 236, 0.1);
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.visualForLinearGradientThirdExample {
  background: linear-gradient(-47deg, rgb(248, 142, 85) 25%, transparent 65%),
    linear-gradient(45deg, rgb(253, 108, 158) 34%, transparent 78%),
    linear-gradient(100deg, rgb(223, 115, 255) 55%, transparent 81%),
    linear-gradient(30deg, rgb(121, 248, 248) 100%, transparent 43%);
  background-size: cover;
  height: 450px;
  margin-bottom: 4%;
}